.nav-title {
  line-height: 3rem;
  text-align: center;
  transition: transform 1s;
  margin: 0;
}
.nav-title:hover {
  transform: rotate(360deg);
  transition: transform 1s;
}

#todo_listComponent {
  padding: 100px;
}