:local(.container){
  position:relative;
  width: 100%;
  margin:0;
  padding:0;
  >a{
    height: 100%;
    display: block;
    >img{
      width: 100%;
      display: block;
    }
  }
}

:local(.close){
  position: absolute;
  margin-top:-6px;
  top: 50%;
  right: 16px;
  background: url(./images/close.png) no-repeat scroll center center transparent;
  width: 12px;
  height: 12px;
  cursor:pointer;
}