:local(.container){
  width: 100%;
  margin-bottom: 25px;
}

:local(.banner0){
  width: 590px;
  height: 656px;
  margin: 0;
  float: left;
  overflow: hidden;
}

:local(.banner1){
  width: 360px;
  height: 323px;
  margin: 0 0 10px 0;
  float: right;
  overflow: hidden;
}

:local(.banner2){
  width: 360px;
  height: 323px;
  margin: 0;
  float: right;
  overflow: hidden;
}

:local(.banner0),:local(.banner1),:local(.banner2){
  >img{
    width: 100%;
  }
}