/*
  带有url的common css必须是css文件, 不能是sass, 因为sass的import会自动先并入最终的文件,
  到时候的相对路径就是完全错误的
*/
@font-face{
  font-family: 'icomoon';
  src:    url('fonts/icomoon.eot?kvhu6k');
  src:    url('fonts/icomoon.eot?kvhu6k#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?kvhu6k') format('truetype'),
  url('fonts/icomoon.woff?kvhu6k') format('woff'),
  url('fonts/icomoon.svg?kvhu6k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

