@import "../../../common/style/color.scss";
:local(.show) {

}

:local(.hidden) {
  display: none;
}

:local(.input) {
  display: block;
  outline: none;
  width: 320px;
  padding: 0.5rem;
}

:local(.button) {
  color: $red;
  border-radius: 0;
  border: none;
  background-color: #fff;
  margin: 0.3rem;
}

:local(.add) {
  color: #fff;
  background-color: $red;
}