{{!< default }}
<!--[if lt IE 9]>
 Your browser is too old!
<![endif]-->
<h1>
    Oh, it's 404!
</h1>

<a href="{{link "user/from404"}}">
    Go to an existed page!
</a>


<p>
    {{i18n "daily.page.title"}}
</p>