{{!< default }}

{{#contentFor "page-css"}}
    {{{css "pages/hello"}}}
    {{{css "components/first"}}}
{{/contentFor}}

{{{js "pages/hello" }}}

<h1 class="nav-title">
    Hello, {{name}}!
</h1>

<div id="firstComponent">

</div>

