{{!< default}}

<div id="top_bannerContainer">

</div>

<div id="navContainer">

</div>

<div id="index_bannerContainer">

</div>

<div class="xxxx">
    #TRENDING
</div>

<div id="trendingContainer">

</div>

<div class="xxxx">
    #BESTSELLER
</div>

<div id="best_sellerContainer">

</div>

<section>
    <h2>

    </h2>
    <p>

    </p>
    <p>

    </p>
</section>

<footer>
    <div>
        <section>
            <h2>

            </h2>
            <ul>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </section>
        <section></section>
        <section></section>
        <section>
            <h2>

            </h2>
        </section>
    </div>
    <div>

    </div>
</footer>