{{!< default}}

<div id="top_bannerComponent">

</div>

<div id="navComponent">

</div>

<div id="index_bannerComponent">

</div>

<div class="xxxx">
    #TRENDING
</div>

<div id="trendingComponent">

</div>

<div class="xxxx">
    #BESTSELLER
</div>

<div id="best_sellerComponent">

</div>

<section>
    <h2>

    </h2>
    <p>

    </p>
    <p>

    </p>
</section>

<footer>
    <div>
        <section>
            <h2>

            </h2>
            <ul>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </section>
        <section></section>
        <section></section>
        <section>
            <h2>

            </h2>
        </section>
    </div>
    <div>

    </div>
</footer>