:local(.login){
  position:relative;
  margin:8px;
  float:right;
  &::before{
    content:"";
    height:20px;
    width:18px;
    position:absolute;
    left:-23px;
    top:4px;
    background:url('http://statics.makemechic.com/image/image_icon_vc151b71.png') no-repeat scroll -30px 0px;
  }
}
