:local(.login) {
  position: relative;
  padding: 8px;
  float: right;
  &::before {
    content: "";
    height: 20px;
    width: 18px;
    position: absolute;
    left: -13px;
    top: 12px;
    background: url(image/member.png);
  }
}
