@import '../../common/style/color.scss';
@import '../../common/style/font.scss';

:local(.hello) {
  background-image: url(www/prompt.png);
  background-size: cover;
  color: $green;
  font-family: $enCommon;
  height: 400px;
  &:local(.hello-ru) {
    background-image: url(ru/prompt.png);
    color: $red;
  }
}