@import "../../../common/style/color.scss";
@import "../../../common/style/font-face.css";
:local(.todoItem) {
  color: $gray;
  padding-left: 2rem;
  position: relative;
}
:local(.todoItem::before) {
  position: absolute;
  left: 0;
  font-family: icomoon;
  content: '\e903';
}
:local(.todoItemContainer) {
  list-style-type: none;
  padding: 0;
}