@import url("../../../common/style/font-face.css");
:local(.pic) {
  width: 100%;
  height: 100%;
  font-family: 'Proxima Nova', Tahoma;
  font-size: 13px;
  :local(.link) {
    display: block;
    font-style: italic;
  }
  :local(.prices) {
    div {
      display: inline-block;
      margin-right: 3px;
    }
    :local(.originalPrice) {
      color: #AAAAAA;
      text-decoration: line-through;
    }
  }
  img {
    width: 220px;
  }
}