:local(.topBannerContainer){
  width:100%;
  height:40px;
  line-height:40px;
  background-color: #2e2e2e;
  font-family: ProximaNova, Tahoma;
  font-size: 13px;
}

:local(.innerContainer){
  width:960px;
  height:40px;
  margin:0 auto;
}

:local(.currencyCate){

}

:local(.headerInfo){

}