:local(.onlineHelp){
  float:right;
  position: relative;
}

:local(.onlineHelp a){
  color:#fff;
  text-decoration: none;
}

:local(.onlineHelp a:before){
  background: url(http://statics.makemechic.com/image/image_icon_vc151b71.png) no-repeat scroll -190px -10px;
  content: "";
  height: 15px;
  width: 17px;
  position: absolute;
  left: -23px;
  top: 13px;
  z-index: 10;
}

:local(.onlineHelp){
  a:after{
    content: "";
    background: url(http://statics.makemechic.com/image/image_icon_vc151b71.png) no-repeat scroll -190px -2px transparent;
    height: 4px;
    width: 7px;
    position: absolute;
    top: 20px;
    right: -15px;
    z-index: 10;
  }
  a:hover:after{
    background: url(http://statics.makemechic.com/image/image_icon_vc151b71.png) no-repeat scroll -200px -2px transparent;
  }
}

