<!doctype html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {{#block "css"}}
        {{{css "css/default.css"}}}
    {{/block}}
</head>
<body>
    {{#block "sidebar"}}
        It's default side bar!
    {{/block}}
    {{{ body }}}
</body>
</html>